<nav class="navbar navbar-expand-md">
  <div class="container-fluid p-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if 'loans' in request.path %} active {% endif %}" href="{% url 'list-loans' %}">
            Empréstimos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'readers' in request.path %} active {% endif %}" href="{% url 'list-readers' %}">
            Leitores
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'books' in request.path %} active {% endif %}" href="{% url 'list-books' %}">
            Livros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'categories' in request.path %} active {% endif %}"
            href="{% url 'list-categories' %}">
            Categorias
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'authors' in request.path %} active {% endif %}" href="{% url 'list-authors' %}">
            Autores
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'publishers' in request.path %} active {% endif %}" href="{% url 'list-publishers' %}">
            Editoras
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'locations' in request.path %} active {% endif %}" href="{% url 'list-locations' %}">
            Localizações
          </a>
        </li>
        <li class="nav-item">
          <form action="{% url 'logout' %}" method="post" id="logout-form" class="nav-item">
            {% csrf_token %}
            <button type="submit" class="btn btn-link text-decoration-none nav-link align-bottom">
              <i class="bi bi-box-arrow-right"></i>
              Sair
            </button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>