<div class="col-auto col-md-3 col-xl-2 px-0">
  <div class="collapse d-lg-block" id="sidebarMenu">
    <div class="d-flex flex-column p-3 text-white" style="min-width: 250px;">
      <nav class="nav flex-column">
        <a class="nav-link text-primary-emphasis" href="#">
          <i class="bi bi-book"></i> Livros
        </a>
        <a class="nav-link text-primary-emphasis" href="#">
          <i class="bi bi-person-check"></i> Empréstimos
        </a>
        <a class="nav-link text-primary-emphasis" href="{% url 'list-categories' %}">
          <i class="bi bi-tags"></i> Categorias
        </a>
        <a class="nav-link text-primary-emphasis" href="#">
          <i class="bi bi-people"></i> Usuários
        </a>
        <a class="nav-link text-primary-emphasis" href="#">
          <i class="bi bi-info-circle"></i> Sobre
        </a>
      </nav>
    </div>
  </div>
</div>