{% extends 'base.html' %}

{% block title %} Biblioteca Acold - Localizações {% endblock %}

{% block content %}

<div class="card w-auto mb-3 p-3">

  <h2>Ver Localização</h2>

  <div class="col-lg-6 overflow-auto">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <th>ID</th>
          <td>{{location.id}}</td>
        </tr>
        <tr>
          <th>Nome</th>
          <td>{{location.name}}</td>
        </tr>
        <tr>
          <th>Descrição</th>
          <td>{% if location.description %} {{location.description}} {% else %} Não informada {% endif %}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row row-gap-2 mb-3">
    <div class="col-auto">
      <a href="{% url 'update-locations' location.id %}" class="btn btn-info">
        <i class="bi bi-pencil-square"></i> Atualizar Localização
      </a>
    </div>
    <div class="col-auto">
      <a href="{% url 'delete-locations' location.id %}" class="btn btn-danger">
        <i class="bi bi-trash"></i> Excluir Localização
      </a>
    </div>
  </div>

  {% include "components/back_button.html" with back_url="list-locations" text="Voltar para Localizações" %}

</div>

{% endblock %}