{% extends 'base.html' %}

{% block title %} Biblioteca Acold - Localizações {% endblock %}

{% block content %}

{{request.dir}}
<div class="row justify-content-start row-gap-2">
  <form method="get" class="col-auto">
    <div class="input-group">
      {% if request.GET.name %}
      <a href="{% url 'list-locations' %}" class="btn btn-secondary">
        <i class="bi bi-x"></i>
      </a>
      {% endif %}
      <input class="form-control" value="{{request.GET.name}}" type="text" name="name"
        placeholder="Nome">
      <button type="submit" class="btn btn-primary"> <i class="bi bi-search"></i> Filtrar </button>
    </div>
  </form>
  <div class="col-auto">
    <a href="{% url 'create-locations' %}" class="btn btn-success">
      <i class="bi bi-plus"></i> Criar Localização
    </a>
  </div>
</div>

{% if locations %}
<div class="overflow-x-auto">
  <table class="overflow-auto table table-hover table-striped table-bordered my-3">
    <thead>
      <th>ID</th>
      <th>Nome</th>
    </thead>
    <tbody>
      {% for location in locations %}
      <tr style="cursor: pointer" onclick="window.location = '{{location.id}}'">
        <td> {{location.id}} </td>
        <td> {{location.name}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'components/pagination.html'%}

{% else %}
<p class="text-center my-5"> Nenhuma localização encontrada</p>
{% endif %}

{% endblock %}