{% extends 'base.html' %}

{% block title %} Biblioteca Acold - Leitores {% endblock %}

{% block content %}

<div class="card w-auto mb-3 p-3">

  <h2>Ver Leitor</h2>
  
  <div class="col-lg-6 overflow-auto">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <th>ID</th>
          <td>{{reader.id}}</td>
        </tr>
        <tr>
          <th>Nome</th>
          <td>{{reader.name}}</td>
        </tr>
        <tr>
          <th>Telefone</th>
          <td>{{reader.phone}}</td>
        </tr>
        <tr>
          <th>Endereço</th>
          <td>{{reader.address}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
    <div class="row row-gap-2 mb-3">
      <div class="col-auto">
        <a href="{% url 'update-readers' reader.id %}" class="btn btn-info">
          <i class="bi bi-pencil-square"></i> Atualizar Leitor
        </a>
      </div>
      <div class="col-auto">
        <a href="{% url 'delete-readers' reader.id %}" class="btn btn-danger">
          <i class="bi bi-trash"></i> Excluir Leitor
        </a>
      </div>
    </div>
  
  {% include "components/back_button.html" with back_url="list-readers" text="Voltar para Leitores" %}

</div>

{% endblock %}