{% extends 'base.html' %}

{% block title %} Biblioteca Acold - Leitores {% endblock %}

{% block content %}

{{request.dir}}
<div class="row justify-content-start row-gap-2">
  <form method="get" class="col-auto">
      <div class="input-group">
        {% if request.GET.address or request.GET.name %}
        <a href="{% url 'list-readers' %}" class="btn btn-secondary input-group-text">
          <i class="bi bi-x"></i>
        </a>
        {% endif %}
        <input class="form-control" value="{{request.GET.name}}" type="text" name="name"
        placeholder="Nome">
        <input class="form-control" value="{{request.GET.address}}" type="text" name="address"
        placeholder="Endereço">
        <button type="submit" class="btn btn-primary"> Filtrar </button>
    </div>
  </form>
  <div class="col-auto">
    <a href="{% url 'create-readers' %}" class="btn btn-success">
      <i class="bi bi-plus"></i> Criar Leitor
    </a>
  </div>
</div>

{% if readers %}
<div class="overflow-x-auto">
  <table class="table table-hover table-striped table-bordered my-3">
    <thead>
      <th>ID</th>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Endereço</th>
    </thead>
    <tbody>
      {% for reader in readers %}
      <tr style="cursor: pointer" onclick="window.location = '{{reader.id}}'">
        <td> {{reader.id}} </td>
        <td> {{reader.name}} </td>
        <td> {{reader.phone}} </td>
        <td> {{reader.address}} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include 'components/pagination.html'%}

{% else %}
<p class="text-center my-5"> Nenhum leitor encontrado</p>
{% endif %}

{% endblock %}